@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #6E78D1;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-horizontal-gap: 8px;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Wix Madefor Display', sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 0 15px;
}

/* swiper  */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  padding: 4.7px 5px;
  opacity: 100;
  border-color: #6E78D1;
  border-width: 1.5px;
  margin-right: 16px;
}

/* stack cards */

#cards {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 750px);
}

#card1 {
  --index: 0;
}

#card2 {
  --index: 1;
}

#card3 {
  --index: 2;
}

.card {
  position: sticky;
  padding-top: calc((var(--index) * 30px));
  top: 91px;
}

.mira-header-before::before {
  content: '';
  display: block;
  width: calc(100% + 40px);
  height: 100%;
  position: absolute;
  left: -20px;
  top: 0;
  z-index: 1;
  background-color: white;
}

/* MEDIA */

@media screen and (min-width: 1024px) {
  section {
    padding: 0;
    margin: 0 40px;
  }

  .card {
    grid-template-rows: repeat(3, 625px);
  }
}